---
# assets/hssoigds/css/hhsoigds.scss
---
// set your variables or @import them here.

// at the very least, you should set the USWDS font and image paths
// to the correct paths relative to assets/hssoigds/css/hhsoigds.scss, like so:
$font-path: '../../uswds/fonts';
$image-path: '../../uswds/img';
$hhsoig-image-path:   '../img';

$output-bourbon-deprecation-warnings: false;


@import 'uswds/all';

@import 'hhsoigds/all';
