---
layout: base
---

{% comment %}
{% assign hero = page.hero %}
{% include components/hero.html %}
{% endcomment %}

<section class="usa-grid usa-section hhsoig-section">
  {% include resources-highlighted.html %}
</section>

{%- comment %}
	This is a foo

{% if page.tagline and page.intro %}
<section class="usa-grid usa-section">
  <div class="usa-width-one-third">
    <h2>{{ page.tagline }}</h2>
  </div>
  <div class="usa-width-two-thirds">
    {{ page.intro | markdownify }}
  </div>
</section>
{% endif %}

{% endcomment -%}

{% if site.posts %}
<section class="usa-section hhsoig-section hhsoig-section-highlight">
  <div class="usa-grid">
    <h2>News &amp; Updates</h2>
    <ul class="usa-unstyled-list hhsoig-post_list">
      {% for post in site.posts limit:2 %}
        <li class="usa-width-one-third usa-media_block">
          <a href="{{ post.url }}">
            {% if post.image %}
              <img src="{{post.image.path}}" alt="{{post.image.alt}}">
            {% endif %}
          </a>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p class="hhsoig-post_list-metadata"><time>{{post.date | date: "%B %-d, %Y"}}</time><br>
          {% for category in post.categories %}
            {{category}}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
          </p>
          {{ post.excerpt }}
        </li>
      {% endfor %}
      <li class="usa-width-one-third">
      <h3>Previous Updates</h3>
        {% for post in site.posts offset:2 limit:4 %}
          <ul class="usa-unstyled-list">
            <li>
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p class="hhsoig-post_list-metadata"><time>{{post.date | date: "%B %-d, %Y"}}</time><br>
              {% for category in post.categories %}
                {{category}}{% unless forloop.last %}, {% endunless %}
              {% endfor %}
              </p>
            </li>
          </ul>
        {% endfor %}
      </li>
    </ul>
  </div>
</section>
{% endif %}

<section class="usa-grid usa-section hhsoig-section">
  {% include organization.html %}
</section>

{% capture _graphics %}
  {% include graphic-list.html graphics=page.graphics %}
{% endcapture %}
{% if page.graphics_position != 'after' %}{{ _graphics }}{% endif %}

<section class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
    {{ content }}
    </div>
  </div>
</section>

{% if page.graphics_position == 'after' %}{{ _graphics }}{% endif %}
