---
layout: base
main:
  class: usa-grid usa-section usa-content usa-layout-docs
---

<h1>{{ page.title }}</h1>
<p>{{page.date | date: "%B %-d, %Y"}} | {{page.categories}}</p>

<figure>
  <img src="{{ page.image.path }}" alt="{{ page.image.alt }}">
  {% if page.image.caption %}
    <figcaption>{{ page.image.caption }}</figcaption>
  {% endif %}
</figure>

{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% if sidenav %}
<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  {% include sidenav.html links=sidenav %}
</aside>

<div class="usa-width-three-fourths usa-layout-docs-main_content">

{{ content }}
</div>
{% else %}
<div class="usa-layout-docs-main_content">
  {{ content }}
</div>
{% endif %}
