// .hhsoig-backlink {
//   max-width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-right: 3rem;
//   padding-left: 2rem;
//   margin-top: -1px;
//   max-width: 1040px;
//   position: relative;
// }



.hhsoig-backlink {
  font-size: $h5-font-size;
  padding-top: 1.9rem;

  @include media($nav-width) {
    @include outer-container($site-max-width);
    @include padding(null $site-margins null 2rem);
    position: relative;
  }

  a {
    padding: 1.9rem 1.5rem;
    text-decoration: none;
    font-weight: $font-bold;
    background-image: url('#{$hhsoig-image-path}/angle-left-primary.svg');
    background-repeat: no-repeat;
    background-position: left 0 top 49%;
    // background-size: 1rem;
    &:visited {
      color: $color-primary;
    }
  }
}
