// TODO: Good enough for prototype. Needs better alignment when < $nav-width
//       Plus add a PNG fallback image to &a

.hhsoig-backlink {
  font-size: $h5-font-size;
  padding-top: 1.9rem;

  @include media($nav-width) {
    @include outer-container($site-max-width);
    @include padding(null $site-margins null 2rem);
    position: relative;
  }

  a {
    padding: 1.9rem 1.5rem;
    text-decoration: none;
    font-weight: $font-bold;
    background-image: url('#{$hhsoig-image-path}/angle-left-primary.svg');
    background-repeat: no-repeat;
    background-position: left 0 top 49%;
    // background-size: 1rem;
    &:visited {
      color: $color-primary;
    }
  }
}
