.hhsoig-header-dark {
  background-color: $color-primary-darkest;
  border-bottom-width: 0;

  .usa-navbar {
    border-bottom-width: 0;
  }

  .usa-nav {
    @include media($nav-width) {
      border-top-color: rgba(255, 255, 255, .25);
    }
  }

  .usa-logo-text a {
    color: $color-white;
  }

  .usa-menu-btn {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-primary-darkest;
    }

    &:visited {
      color: $color-primary;
    }
  }
}
