
.hhsoig-highlight_block {

  // Trendy short borders to visually anchor the blocks
  h3:before {
    content: "";
    display: block;
    width: 33%;
    padding-top: .5rem;
    border-top: .4rem solid $color-primary;
  }


  a {
    @include remove-underlines();

    // FIXME: Disabling purple visited links during design/dev phase. Remove in production.
    &:visited {
      color: $color-primary;
    }
  }
}
