// Blue header overrides for primary navigation on large viewports
@include media($nav-width) {
  .hhsoig-header-dark .usa-nav {
    background: $color-primary-darker;
  }

  .hhsoig-header-dark .usa-nav-primary {
    > li > a {
      color: $color-white;
    }

    button {
      color: $color-white;

      &:hover {
        background-color: $color-primary-darker;
        color: $color-white;
      }

      &[aria-expanded=false] {
        background-image: url("#{$hhsoig-image-path}/angle-arrow-down-white.png");
        background-image: url("#{$hhsoig-image-path}/angle-arrow-down-white.svg");
      }

      &[aria-expanded=true] {
        background-image: url("#{$hhsoig-image-path}/angle-arrow-down-white.png");
        background-image: url("#{$hhsoig-image-path}/angle-arrow-down-white.svg");
        color: $color-white;

        &:hover {
          background-color: $color-primary-darkest;
        }
      }
    }
  }

  .hhsoig-header-dark .usa-nav-secondary-links {
    li {
      &:not(:last-child)::after {
        color: $color-gray-light;
      }
    }

    a,
    .usa-header-search-button {
      color: $color-white;

      &:hover {
        color: $color-white;
      }
    }

    .usa-header-search-button {
      background-image: url("#{$hhsoig-image-path}/search.png");
      background-image: url("#{$hhsoig-image-path}/search.svg");
    }
  }
}
