.hhsoig-section {
  @include padding($hhsoig-site-margins-slimmer null $hhsoig-site-margins-slimmer null);

  h2 {
    @include margin(null null 3rem null)
  }
}

.hhsoig-section-highlight {
  border: 1px solid $color-cool-blue-lighter;
  border-width: 1px 0;
  background-color: $color-hhsoig-blue-light;
}

.hhsoig-section:last-of-type {
  border-top: 1rem solid $color-primary-darker;
}
